body
{
    background-image: url("img/HoffmanLogo.jpg");
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:orangered;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: red;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: black;
    color: teal;
}
/*Got from w3school.com */
th {
    background-color: Aqua;
    color: Black;
}
tr:nth-child(even) {background-color: Aqua;}
tr:nth-child(odd) {background-color: Aqua;}